body {
background-color: rgb(193,97,23);
background-color: #EEEBAA
background-color: palegoldenrod;
color: white;

}

a {
	color: white;

}
h1 {
	color: white;
	font-family: 'helvetica Neue';
	font-size: 50px;
	font-style: italic;
	padding-left: 250px;
}

p {
	color: white;
	font-family: 'helvetica';
}
img{
	height: 550px;
	width: 500px;
	padding-left: 425px;

}